
// ----------------- Mobile ---------- //


@media (min-width: 320px){
    .app-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: $white-color;

        .text-app{
            padding: 2rem;
            h2{
                padding-bottom: 1rem;
            }

            .app-link-wrap {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                    .app-link{
                        img{
                            width: 100px;
                        
                        }
                    }
            
                }
        
            }
        
        .app-photo {
            padding-top: 2rem;
            display: flex;
            justify-content: center;
        
            img{
               
                width: 300px;
            }

        }

        


        
        


        
    }

}


// ----------------- Desktop ---------- //


@media (min-width: 1200px){
    .app-section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        

        .text-app{
            padding-right: 8rem;
            padding-left: 8rem;
            display:flex;
            flex-direction: column;
            h2{
                padding-bottom: 2rem;
                font-size: 2rem;
                
                
            }

            .app-link-wrap {
                display: flex;
                flex-direction: row;
                justify-content: right;
                    .app-link{
                        img{
                            width: 100px;
                            margin-right: 2rem;
                        
                        }
                    }
            
                }
        
            }
        
        .app-photo {
            padding-top: 2rem;
            padding-right: 20rem;
        
            img{
               
                width: 250px;
            }

        }

        


        
        


        
    }

}