.navbar-brand {
    width: 150px;
    margin-left: 1rem;
    
}

.navbar{
    background-color: $dark-orange-color;
}

.navbar-nav{
    margin-left:auto;

}

.nav-item {
    margin: 1rem;
    font-size: 1.3rem;
    
}


