// Colors
$logo-color: #FFF64A;
$low-color: #D2D2D2;
$intense-color: #121212;
$white-color: #FFFFFF;
$grey-color:#242424;
$variable: #CE1212;
$secundary-color: #1B1717;
$intense-color2: #810000;
$low-color: #EEEBDD;
$h3-color:#1c1c1c9a;
$main-white:#ffffff;
$main-black: black;
$main-yellow: #fbff00;


// Sizes
$main-margin: 1rem;
$main-padding: 6rem;
$main-mobile-padding: 3rem;