// Colors
$dark-orange-color: #F7963F;
$clear-orange-color: #F2B872;
$blue-color:#011640;
$gray: #606060;
$main-white:#ffffff;
$main-black:#000000;



// Sizes
$main-margin: 1rem;
$main-padding: 6rem;
$main-mobile-padding: 3rem;